<!DOCTYPE html>

<head>
    <title>Catfacts!</title>
</head>
<style> 
    .topbar {
        display: inline;
        padding-right: 10px;
        }
</style>
<body>
    <ul>
        <li class="topbar"><a href="/random">get a random fact</a></li>
        <li class="topbar"><a href="/all">get all facts</a></li>
        <li class="topbar"><a href="https://cvillecatcare.com/veterinary-topics/101-amazing-cat-facts-fun-trivia-about-your-feline-friend/">source</a></li>
    </ul>
    <h1>Cat Facts!</h1>
    <h3>see your fact(s) here!</h3>
    <div id = "fact box">
        <p><%=fact%></p>
    </div>


</body>