<!DOCTYPE html>

<head>
    <title>Catfacts!</title>
</head>
<body>
    <a href="https://cvillecatcare.com/veterinary-topics/101-amazing-cat-facts-fun-trivia-about-your-feline-friend/">source</a>
    <h1>Cat Facts!</h1>
    <h3>see your fact(s) here!</h3>
    <div id = "fact box">
        <p><%=fact%></p>
    </div>
    <ul>
        <li><a href="/random">get a random fact!</a></li>
        <li><a href="/all">get all facts!</a></li>
    </ul>

</body>